<ion-content>
  <div class="modal-header">
    <h2>Añadir Créditos</h2>
  </div>

  <div class="modal-body">
    <div>
      <h2>creditos actuales: {{user.credit_balance}}</h2>
    </div>
    <form (ngSubmit)="addCredits()" #creditForm="ngForm">
      <ion-item>
        <ion-label position="floating">Créditos a incluir</ion-label>
        <ion-input type="number"  name="creditAmount"
        [(ngModel)]="creditAmount"
        required></ion-input>
      </ion-item>

      <div class="button-group">
        <ion-button class="btn-m" type="button" (click)="closeModal()">Cancelar</ion-button>
        <ion-button class="btn-m" type="submit" [disabled]="!creditForm.form.valid">Añadir</ion-button>
      </div>
    </form>
  </div>
</ion-content>
