<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar >
        <ion-title>Backoffice</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle auto-hide="false">
          <ion-item (click)="goToHome()">
            <ion-icon slot="start" name="home"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-item>

          <ion-item (click)="goToExercices()">
            <ion-icon slot="start" name="barbell-outline"></ion-icon>
            <ion-label>Ejercicios</ion-label>
          </ion-item>

          <ion-item (click)="goToSessions()">
            <ion-icon slot="start" name="book-outline"></ion-icon>
            <ion-label>Sessiones</ion-label>
          </ion-item>

          <ion-item (click)="goToUsers()">
            <ion-icon slot="start" name="people"></ion-icon>
            <ion-label>Usuarios</ion-label>
          </ion-item>

          <ion-item (click)="logout()">
            <ion-icon slot="start" name="log-out"></ion-icon>
            <ion-label>Salir</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Panel de control</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <router-outlet></router-outlet>
    </ion-content>
  </div>
</ion-app>